

<section>
    <div class="my_log-reg_page">
        <div>
            <h1> Login Here </h1>
        </div>
        <div class="log-reg_container">

        <form action="/Login_Page" method="POST">
            <div>
                <input type="text" placeholder="Enter  User Name " autocomplete="off" name="username">
                <br>
                <input type="text" placeholder="Enter Your Password" name="password123">         

            </div>
            <button type="submit"> Login </button>
            <br><br>
        </form>

            <h6>Create New Account <a href="/Registration_Page"> Here </a></h6>

        </div>

    </div>
</section>

