{% extends 'Base.html' %}

{% block content %}

<main>
    <article>



      <!-- 
        - #SERVICE
      -->

      <section class="log_reg">
        <div class="container">

          
        <div class="log_reg-content">
            <h2 class="h2 log_reg-title ">Log in Here </h2>
            <form action="/Login_Page" method="POST">
              <div>
                  <input type="text" name="loginemail" required placeholder=" Enter Email Id  Here" class="input-field">
                  <input type="text" name="loginpss" required placeholder=" Enter Password Here" class="input-field"> 
              </div>
              <button type="submit" class="log_reg-form-btn"> Login </button>
            </form>
            <p> Create New Registration<a href="/Registration_Page"> Registration Here</a></p>
        </div>

        </div>
      </section>

    </article>
</main>
{% endblock %}