{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="flash_message" style="background-color: aliceblue; text-align: center;"><h3>{{ message }}</h3></div>
    {% endfor %}
  {% endif %}
{% endwith %}

<header class="header" data-header>
  <div class="container">

    <div class="overlay" data-overlay></div>

   <a href="/"><h1 style="color: white;"> JETFLIX</h1></a>

    <div class="header-actions">
      {% if user %}
      <a href="/Profile_Page"><button class="btn btn-primary">{{user}}</button></a>
      <a href="/Log_out"><button class="btn btn-primary">Logout</button></a>
      {% else %}
      <a href="/Login_Page"><button class="btn btn-primary">Login</button></a>
      {% endif %}
    </div>

    <button class="menu-open-btn" data-menu-open-btn>
      <ion-icon name="reorder-two"></ion-icon>
    </button>

    <nav class="navbar" data-navbar>

      <div class="navbar-top">

        <a href="./index.html" class="logo">
          <img src="./assets/images/logo.svg" alt="Filmlane logo">
        </a>

        <button class="menu-close-btn" data-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>

      </div>

      <ul class="navbar-list">

        <li>
          <div class="cta">
            <div class="container">
    
                   
              <form action="/" method="POST" class="cta-form">
                <input type="text" name="M_name" required placeholder="Search Here " class="email-field">
    
                <button type="submit" class="cta-form-btn">Search </button>
              </form>
    
            </div>
          </div>
        </li>

        

      </ul>

      <ul class="navbar-social-list">

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-pinterest"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
        </li>

      </ul>

    </nav>

  </div>
</header>
