<h1> JETFLIX WEBSITE </h1>

<a href="/my_profile"> My Profile  </a> <br>
<a href="/Logout"> Logout  </a> <br>
<a href="/Login_Page"> Login  </a> <br>
<a href="/Registration_Page"> Registration </a> <br>
User Name : {{user}}
<div>
     <form action="/search_me" method="POST">
        <input type="text" name="search_text" placeholder="Search Here ">
        <button type="submit">Search</button>
     </form>
</div>


<h1> Find Using Genras </h1>
<a href="/action"><button>Action</button></a>
<a href="/adventure"><button>Adventure</button></a>
<a href="/animation"><button>Animation</button></a>
<a href="/crime"><button>Crime</button></a>
<a href="/horror"><button>Horror</button></a>
<a href="/sci_fi"><button>Sci-Fi</button></a>


<hr><h2>{{title}}</h2><hr>
{% for m in movies %}
<h3> Movie name : {{m[1]}}</h3>
<span> Rating : {{m[2]}}</span>
<hr>
{% endfor %}

<h1> Recomanded Movies </h1>
{% if data %}
{% for m in data %}
<h3> Movie name : {{m}}</h3>
<hr>
{% endfor %}

{% else %}

<h5> Search somthing </h5>

{% endif %}